:root {
	--grid-gutter: 1em;
	--grid-gutter-correction: -1em;

	--grid-col-100: 100%;
	--grid-col-80: 80%;
	--grid-col-75: 75%;
	--grid-col-66: 66%;
	--grid-col-60: 60%;
	--grid-col-50: 50%;
	--grid-col-40: 40%;
	--grid-col-33: 33%;
	--grid-col-25: 25%;
	--grid-col-20: 20%;
	--grid-col-16: 16.666667%;
	--grid-col-8: 8.333333%;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: var(--grid-gutter-correction);
	margin-right: var(--grid-gutter-correction);
}

.grid__column {
	box-sizing: border-box;
	padding-left: var(--grid-gutter);
}

.grid__column--100 {
	flex: 1 0 var(--grid-col-100);
}

.grid__column--80 {
	flex: 1 0 var(--grid-col-80);
}

.grid__column--75 {
	flex: 1 0 var(--grid-col-75);
}

.grid__column--66 {
	flex: 1 0 var(--grid-col-66);
}

.grid__column--60 {
	flex: 1 0 var(--grid-col-60);
}

.grid__column--50 {
	flex: 1 0 var(--grid-col-50);
}

.grid__column--40 {
	flex: 1 0 var(--grid-col-40);
}

.grid__column--33 {
	flex: 1 0 var(--grid-col-33);
}

.grid__column--25 {
	flex: 1 0 var(--grid-col-25);
}

.grid__column--20 {
	flex: 1 0 var(--grid-col-20);
}

.grid__column--16 {
	flex: 1 0 var(--grid-col-16);
}

.grid__column--8 {
	flex: 1 0 var(--grid-col-8);
}


@media (min-width: 600px) {

	.grid__column--sm-100 {
		flex: 1 0 var(--grid-col-100);
	}

	.grid__column--sm-80 {
		flex: 1 0 var(--grid-col-80);
	}

	.grid__column--sm-75 {
		flex: 1 0 var(--grid-col-75);
	}

	.grid__column--sm-66 {
		flex: 1 0 var(--grid-col-66);
	}

	.grid__column--sm-60 {
		flex: 1 0 var(--grid-col-60);
	}

	.grid__column--sm-50 {
		flex: 1 0 var(--grid-col-50);
	}

	.grid__column--sm-40 {
		flex: 1 0 var(--grid-col-40);
	}

	.grid__column--sm-33 {
		flex: 1 0 var(--grid-col-33);
	}

	.grid__column--sm-25 {
		flex: 1 0 var(--grid-col-25);
	}

	.grid__column--sm-20 {
		flex: 1 0 var(--grid-col-20);
	}

	.grid__column--sm-16 {
		flex: 1 0 var(--grid-col-16);
	}

	.grid__column--sm-8 {
		flex: 1 0 var(--grid-col-8);
	}

}

@media (min-width: 800px) {

	.grid__column--md-100 {
		flex: 1 0 var(--grid-col-100);
	}

	.grid__column--md-80 {
		flex: 1 0 var(--grid-col-80);
	}

	.grid__column--md-75 {
		flex: 1 0 var(--grid-col-75);
	}

	.grid__column--md-66 {
		flex: 1 0 var(--grid-col-66);
	}

	.grid__column--md-60 {
		flex: 1 0 var(--grid-col-60);
	}

	.grid__column--md-50 {
		flex: 1 0 var(--grid-col-50);
	}

	.grid__column--md-40 {
		flex: 1 0 var(--grid-col-40);
	}

	.grid__column--md-33 {
		flex: 1 0 var(--grid-col-33);
	}

	.grid__column--md-25 {
		flex: 1 0 var(--grid-col-25);
	}

	.grid__column--md-20 {
		flex: 1 0 var(--grid-col-20);
	}

	.grid__column--md-16 {
		flex: 1 0 var(--grid-col-16);
	}

	.grid__column--md-8 {
		flex: 1 0 var(--grid-col-8);
	}

}

@media (min-width: 1000px) {

	.grid__column--lg-100 {
		flex: 1 0 var(--grid-col-100);
	}

	.grid__column--lg-80 {
		flex: 1 0 var(--grid-col-80);
	}

	.grid__column--lg-75 {
		flex: 1 0 var(--grid-col-75);
	}

	.grid__column--lg-66 {
		flex: 1 0 var(--grid-col-66);
	}

	.grid__column--lg-60 {
		flex: 1 0 var(--grid-col-60);
	}

	.grid__column--lg-50 {
		flex: 1 0 var(--grid-col-50);
	}

	.grid__column--lg-40 {
		flex: 1 0 var(--grid-col-40);
	}

	.grid__column--lg-33 {
		flex: 1 0 var(--grid-col-33);
	}

	.grid__column--lg-25 {
		flex: 1 0 var(--grid-col-25);
	}

	.grid__column--lg-20 {
		flex: 1 0 var(--grid-col-20);
	}

	.grid__column--lg-16 {
		flex: 1 0 var(--grid-col-16);
	}

	.grid__column--lg-8 {
		flex: 1 0 var(--grid-col-8);
	}

}
